* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #fff4f4;
  color: #606c5d;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.flashcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.emoji {
  font-size: 3rem;
}

.flashcards div {
  background-color: #f7f7f7;
  border-radius: 7px;
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.067);
  transition: all 0.2s ease-out;
}

div.selected {
  background-color: #606c5d;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  box-shadow: -0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  transform: rotateY(180deg) scale(1.05);
  /* transition: all 0.2s ease; */
}

div.selected p {
  transform: rotateY(180deg);
}

@media (max-width: 1024px) {
  .flashcards {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .flashcards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 680px) {
  .flashcards {
    font-size: 0.8rem;
  }
  div.selected {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .flashcards {
    grid-template-columns: 1fr;
    font-size: 0.9rem;
  }
}
